certifi==2020.12.5
chardet==4.0.0
idna==2.10
irc==19.0.1
jaraco.classes==3.2.1
jaraco.collections==3.2.0
jaraco.functools==3.2.1
jaraco.logging==3.1.0
jaraco.stream==3.0.0
jaraco.text==3.5.0
more-itertools==8.7.0
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
tempora==4.0.1
urllib3==1.26.3
